bin/Debug/net5.0/fractal.dll
bin/Debug/net5.0/fractal.pdb
bin/Debug/net5.0/ref/fractal.dll
obj/project.nuget.cache
obj/Debug/net5.0/apphost
obj/Debug/net5.0/fractal.csproj.FileListAbsolute.txt
obj/Debug/net5.0/fractal.dll
obj/Debug/net5.0/fractal.pdb
obj/Debug/net5.0/ref/fractal.dll
